
@{
    ViewData["Title"] = "Error404";
}

    <div style="align-items:center">
        <h3>Hello, the page you are searching for is not available,</h3>
        <h3>try one of our other pages:</h3>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home Page</a>
    </div>

