@model UpcomingGamesSystem.Web.ViewModels.User.AllFollowedGamesViewModel
@{
    ViewData["Title"] = "Details";
}

<div style="float:left">
    <div style="text-align:center">
        <h4>Your followed games:</h4>
    </div>
    @foreach (var game in Model.AllGames)
    {
        <ul class="list-group">
            <li class="list-group-item">
                <div class="card" style="max-width: 18rem;">
                    <div style="float:left">
                        <img src="@game.PictureUrl" height="64" width="64">
                        <div style="float:right">
                            <h5 class="card-title" style="align-items:center">@game.Title</h5>
                            <p class="card-text">Release Date: @game.ReleaseDate.ToString("dd-MM-yyyy")</p>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
    }
    <hr />
</div>

