@{
    this.ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1>See all games here:</h1>
        <a asp-controller="Games" asp-action="All" class="btn btn-primary">Games</a>
    </div>